<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body style="background-color:#37eeee">    
    <div style = "background-color:rgb(50, 126, 197)">
        <h1>Sistema de Controle do Material de Apoio</h1><br>
    </div>

    <p style="font-size: 30px">Editar Kit</p>

    {{ kits.id }} - {{ kits.nome }}

    <form action="{% url 'update' kits.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{kits.nome}}">
        <button type="submit">Update</button>
    </form>

</body> 
</html>