body {
    font-family: 'Open Sans', sans-serif;
}

button{
		border: 0;
		background: #f60;
		color: white;
    font-size: 1.1em;
		text-transform: uppercase;
		font-weight: 300;
		padding: 17px 60px;
		cursor: pointer;
		outline: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	button:hover{
		background: Turquoise;
	}

	p{
		font-size: 20px;
		font-weight: 400;
		color: #555;
	}

center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}