{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="{%static 'js/relogio.js' %}"></script>
    <link rel="stylesheet" href="{%static 'css/relogio.css' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <script>
        
    </script>
</head>
<body>
    <div class="content">
        <div class="header">
            <h1 class="header-h1">SCMA</h1>
        </div>
        <div class="login">
            <form action="">
                <input type="text" >
            </form>
        </div>
    </div>
    <div id="div-timer">
        <span id="timer">Horas</span>
    </div>
    
</body>
</html>